pre-commit

# formatting
black
isort

# testing
pylint
mypy
flake8
flake8-bugbear
flake8-docstrings
pluggy == 0.8.1
pytest == 4.2.0
pytest-pylint == 0.14.0
pytest-flake8 == 0.3.2
pytest-mypy
pytest-cov
py == 1.8.0

# generating requirements
pipreqs
