pre-commit

# formatting
black
isort

# testing
pylint
mypy
flake8 == 3.6.0
flake8-bugbear
flake8-docstrings
pytest >= 4.0.0
pytest-pylint == 0.14.0
pytest-flake8
pytest-mypy
pytest-cov

# generating requirements
pipreqs
