pre-commit

# formatting
black
isort

# testing
pylint == 2.2.2
mypy == 0.660
flake8 == 3.6.0
flake8-bugbear
flake8-docstrings
pytest == 4.1.0
pytest-pylint == 0.14.0
pytest-flake8 == 1.0.3
pytest-mypy == 0.3.2
pytest-cov == 2.6.1

# generating requirements
pipreqs
