numpy==1.18.0
torch==1.6.0
gym
atari-py
box2d-py
scipy
typing
cloudpickle
opencv-python==4.3.0.36
addict
tqdm

# mujoco

# for distributed learning
ray
ray[debug]
pyzmq
pyarrow

# for log
wandb
six==1.13 # wandb requires six>=1.13.0
matplotlib
plotly
setuptools
wheel